<!DOCTYPE html>
<html>
<head>
    <% include ./../element/head_html %>
        <script>
                window.onload = function () {
                
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,  
                    title:{
                        text: "doanh thu theo năm"
                    },
                    axisY: {
                        title: "doanh thu (tr = triệu )",
                        valueFormatString: "#0,,.",
                        suffix: "tr",
                        stripLines: [{
                            value: 3366500,
                            label: "Trung bình "
                        }]
                    },
                    data: [{
                        yValueFormatString: "#,### triệu",
                        xValueFormatString: "YYYY",
                        type: "spline",
                        dataPoints: [
                            {x: new Date(2002, 0), y: 2506000},
                            {x: new Date(2003, 0), y: 2798000},
                            {x: new Date(2004, 0), y: 3386000},
                            {x: new Date(2005, 0), y: 6944000},
                            {x: new Date(2006, 0), y: 6026000},
                            {x: new Date(2007, 0), y: 2394000},
                            {x: new Date(2008, 0), y: 1872000},
                            {x: new Date(2009, 0), y: 2140000},
                            {x: new Date(2010, 0), y: 7289000},
                            {x: new Date(2011, 0), y: 4830000},
                            {x: new Date(2012, 0), y: 2009000},
                            {x: new Date(2013, 0), y: 2840000},
                            {x: new Date(2014, 0), y: 2396000},
                            {x: new Date(2015, 0), y: 1613000},
                            {x: new Date(2016, 0), y: 2821000},
                            {x: new Date(2017, 0), y: 2000000}
                        ]
                    }]
                });

                var chart2 = new CanvasJS.Chart("chartContainer2", {
                    animationEnabled: true,  
                    title:{
                        text: "doanh thu theo tháng (2017)"
                    },
                    axisY: {
                        title: "doanh thu (tr = triệu )",
                        valueFormatString: "#0,.",
                        suffix: "tr",
                        stripLines: [{
                            value: 3366,
                            label: "Trung bình "
                        }]
                    },
                    data: [{
                        yValueFormatString: "#,### triệu",
                        xValueFormatString: "#",
                        type: "spline",
                        dataPoints: [
                            {x: 1, y: 2506},
                            {x: 2, y: 279},
                            {x: 3, y: 3386},
                            {x: 4, y: 6944},
                            {x: 5, y: 6026},
                            {x: 6, y: 2394},
                            {x: 7, y: 1872},
                            {x: 8, y: 2140},
                            {x: 9, y: 7289},
                            {x: 10, y: 4830},
                            {x: 11, y: 2009},
                            {x: 12, y: 2840}
                        ]
                    }]
                });

                var chart3 = new CanvasJS.Chart("chartContainer3", {
                    animationEnabled: true,  
                    title:{
                        text: "doanh thu theo tháng (2017)"
                    },
                    axisY: {
                        title: "doanh thu (tr = triệu )",
                        valueFormatString: "#0,.",
                        suffix: "tr",
                        stripLines: [{
                            value: 3366,
                            label: "Trung bình "
                        }]
                    },
                    data: [{
                        yValueFormatString: "#,### triệu",
                        xValueFormatString: "#",
                        type: "spline",
                        dataPoints: [
                            {x: 1, y: 2506},
                            {x: 2, y: 279},
                            {x: 3, y: 3386},
                            {x: 4, y: 6944}
                        ]
                    }]
                });    

                var chart4 = new CanvasJS.Chart("chartContainer4", {
                    animationEnabled: true,  
                    title:{
                        text: "doanh thu theo tuần (2 tháng gần nhất)"
                    },
                    axisY: {
                        title: "doanh thu (tr = triệu )",
                        valueFormatString: "#0,.",
                        suffix: "tr",
                        stripLines: [{
                            value: 3366,
                            label: "Trung bình "
                        }]
                    },
                    data: [{
                        yValueFormatString: "#,### triệu",
                        xValueFormatString: "#",
                        type: "spline",
                        dataPoints: [
                            {x: 1, y: 2506},
                            {x: 2, y: 279},
                            {x: 3, y: 3386},
                            {x: 4, y: 6944},
                            {x: 5, y: 2506},
                            {x: 6, y: 279},
                            {x: 7, y: 3386},
                            {x: 8, y: 6944}
                        ]
                    }]
                }); 

                var chart5 = new CanvasJS.Chart("chartContainer5", {
                    animationEnabled: true,  
                    title:{
                        text: "doanh thu theo ngày (tháng trước)"
                    },
                    axisY: {
                        title: "doanh thu (tr = triệu )",
                        valueFormatString: "#0,.",
                        suffix: "tr",
                        stripLines: [{
                            value: 3366,
                            label: "Trung bình "
                        }]
                    },
                    data: [{
                        yValueFormatString: "#,### triệu",
                        xValueFormatString: "#",
                        type: "spline",
                        dataPoints: [
                            {x: 1, y: 2506},
                            {x: 2, y: 279},
                            {x: 3, y: 3386},
                            {x: 4, y: 6944},
                            {x: 5, y: 2506},
                            {x: 6, y: 279},
                            {x: 7, y: 3386},
                            {x: 8, y: 6944},
                            {x: 9, y: 2506},
                            {x: 10, y: 279},
                            {x:11, y: 3386},
                            {x: 12, y: 6944},
                            {x: 13, y: 2506},
                            {x: 14, y: 279},
                            {x: 15, y: 3386},
                            {x: 16, y: 6944},
                            {x: 17, y: 2506},
                            {x: 18, y: 279},
                            {x: 19, y: 3386},
                            {x: 20, y: 6944},
                            {x: 21, y: 2506},
                            {x: 22, y: 279},
                            {x: 23, y: 3386},
                            {x: 24, y: 6944},
                            {x: 25, y: 3386},
                            {x: 26, y: 6944},
                            {x: 27, y: 2506},
                            {x: 28, y: 279},
                            {x: 29, y: 3386},
                            {x: 30, y: 6944}
                        ]
                    }]
                });

                chart.render();
                chart2.render();
                chart3.render();
                chart4.render();
                chart5.render();
                }
                </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

<% include ./../element/header %>

<% include ./../element/menu %>

  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        THỐNG KÊ DOANH THU
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <div class="content">
        <div clas ="row">
            <div class="col-md-12">
                <div class="box">
                        <div id="chartContainer" style="height: 370px; width: 100%;" ></div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="box">
                        <div id="chartContainer3" style="height: 370px; width: 100%;" ></div>
                </div>
            </div>
        </div> 

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                        <div id="chartContainer2" style="height: 370px; width: 100%;" ></div>
                </div>
            </div>
        </div>
   
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                        <div id="chartContainer4" style="height: 370px; width: 100%;" ></div>
                </div>
            </div>
        </div>   
        
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                        <div id="chartContainer5" style="height: 370px; width: 100%;" ></div>
                </div>
            </div>
        </div>          

    </div>

</div>
<!-- /.content-wrapper -->

<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
<% include ./../element/footer %>
</div>
<!-- ./wrapper -->

<% include ./../element/script %>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>