<!DOCTYPE html>
<html>
<head>
    <title>quản lý gian hàng </title>
    <% include ./../element/head_html %>
  <!-- DataTables -->
  <link rel="stylesheet" href="../../bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

<% include ./../element/header %>

<% include ./../element/menu %>
<div class="content-wrapper m-5">
    <section class="content-header">
        <h1>
          DANH SÁCH GIAN HÀNG
        </h1>
        <ol class="breadcrumb">
          <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Dashboard</li>
        </ol>
      </section>
    <!--content-->
    <div class="content">
    <div class="row">
            <div class="col-xs-12">
                    <div class="box">
                            <div class="box-header">
                              <h3 class="box-title">DANH SÁCH CÁC GIAN HÀNG </h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                              <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                  <th>mã shop </th>
                                  <th> tên shop</th>
                                  <th> danh sách sản phẩm </th>
                                  <th> top 10 sản phẩm bán chạy </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 123 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 1567 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 9987 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 563 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 123 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 123 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 123 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 123 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 123 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 123 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 123 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 123 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 123 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 123 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 123 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 123 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 343 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 123 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 563 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 73 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-gian-hang"> 123 </td>
                                  <td> shopee hân hạnh tài trợ chương trình này</td>
                                  <td><a href="/quan-ly-san-pham"> bấm đây </td>
                                  <td><a href="/top-10"> bấm đây </td>
                                  </tr>
      
                                </tfoot>
                              </table>
                            </div>
                            <!-- /.box-body -->
                          </div>
                        </div>
                    </div>  
                    </div>  
                </div>
                
                
                <% include ./../element/footer %>
                
                 
                
                  <!-- /.control-sidebar -->
                  <!-- Add the sidebar's background. This div must be placed
                       immediately after the control sidebar -->
                  <div class="control-sidebar-bg"></div>
                
</div>
                <!-- ./wrapper -->
                <% include ./../element/script %>
<!-- DataTables -->
<script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
        $(function () {
          $('#example1').DataTable()
          $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
          })
        })
      </script>
</body>
</html>
                