<!DOCTYPE html>
<html>
<head>
    <title>thông tin chi tiết gian hàng </title>
    <% include ./../element/head_html %>

    
  <style>
    ol.c {
        list-style-type: upper-roman;
    }
  </style>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

<% include ./../element/header %>

<% include ./../element/menu %>
<div class="content-wrapper m-5">
    <section class="content-header">
        <h1>
          XEM CHI TIẾT GIAN HÀNG
        </h1>
        <ol class="breadcrumb">
          <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Dashboard</li>
        </ol>
      </section>
    <!--content-->
    <div class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">GIAN HÀNG #MÃ GIAN HÀNG </h3>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th> thông tin </th>
                            <th> #mã gian hàng  </th>
                          </tr> 
                          <tr>
                            <td> tên gian hàng </td>
                            <td> shopee  </td>
                          </tr> 
                          <tr>
                            <td> địa chỉ </td>
                            <td> 123 trần hưng đạo, q5, p5 </td>
                          </tr>
                          <tr>
                              <td> loại gian hàng  </td>
                              <td> điện tử </td>
                          </tr>  
                          <tr>
                              <td> sđt  </td>
                              <td> 023 9993 123 </td>
                          </tr>
                          <tr>
                              <td> người đứng tên </td>
                              <td> trần văn A</td>
                          </tr>
                          <tr>
                            <td> mã người đứng tên </td>
                            <td> 123 </td>
                          </tr>                               
                          <tr>
                              <td>mã sản phẩm trong shop</td>
                              <td>
                                <ol class="c" >
                                  <li><a href="/xem-thong-tin-san-pham">122</li>
                                  <li><a href="/xem-thong-tin-san-pham">123</li>
                                  <li><a href="/xem-thong-tin-san-pham">124</li>
                                  <li><a href="/xem-thong-tin-san-pham">122</li>
                                  <li><a href="/xem-thong-tin-san-pham">123</li>
                                  <li><a href="/xem-thong-tin-san-pham">124</li>
                              </ol>                                
                              </td>
                          </tr>                
                    </table>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>   


          </div>  
    </div>  
    </div>
</div>

<% include ./../element/footer %>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->
<% include ./../element/script %>
</body>
</html>


