<!DOCTYPE html>
<html>
<head>
    <title>top 10 sản phẩm bán chạy  </title>
    <% include ./../element/head_html %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

<% include ./../element/header %>

<% include ./../element/menu %>
<div class="content-wrapper m-5">
    <section class="content-header">
        <h1>
          XEM TOP 10 SẢN PHẨM BÁN CHẠY CỦA GIAN HÀNG
        </h1>
        <ol class="breadcrumb">
          <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Dashboard</li>
        </ol>
      </section>
    <!--content-->
    <div class="content">
    <div class="row">
            <div class="col-xs-12">
                    <div class="box">
                            <div class="box-header">
                              <h3 class="box-title">DANH SÁCH 10 SẢN PHẨM BÁN CHẠY CỦA SHOP #MÃ SHOP </h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                              <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                  <th>mã sản phẩm </th>
                                  <th> tên sản phẩm</th>
                                  <th> số lượng bán ra </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                  <td><a href="/xem-thong-tin-san-pham"> 123 </td>
                                  <td> điện thoại samsung ?</td>
                                  <td> 200 </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-san-pham"> 1567 </td>
                                  <td> điện thoại iphone </td>
                                  <td> 200 </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-san-pham"> 9987 </td>
                                  <td> cái gì đó ?</td>
                                  <td> 200 </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-san-pham"> 563 </td>
                                  <td> hột gà </td>
                                  <td> 200 </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-san-pham"> 123 </td>
                                  <td> trà sữa chân châu </td>
                                  <td> 200 </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-san-pham"> 123 </td>
                                  <td> stủ lạnh </td>
                                  <td> 200 </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-san-pham"> 123 </td>
                                  <td> áo hở vai </td>
                                  <td> 200 </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-san-pham"> 123 </td>
                                  <td> quần jean </td>
                                  <td> 200 </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-san-pham"> 123 </td>
                                    <td> áo hở vai </td>
                                    <td> 200 </td>
                                </tr>
                                <tr>
                                  <td><a href="/xem-thong-tin-san-pham"> 123 </td>
                                    <td> stủ lạnh </td>
                                    <td> 200 </td>
                                </tr>
                               
                                </tfoot>
                              </table>
                            </div>
                            <!-- /.box-body -->
                          </div>
                        </div>
                    </div>  
                    </div>  
                </div>
                
                
                <% include ./../element/footer %>
                
                 
                
                  <!-- /.control-sidebar -->
                  <!-- Add the sidebar's background. This div must be placed
                       immediately after the control sidebar -->
                  <div class="control-sidebar-bg"></div>
                
</div>
                <!-- ./wrapper -->
                <% include ./../element/script %>

</body>
</html>
                